.App{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.835);
}

.page-sizing{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.crime{
    /*This the only way to override justify-content: */
    margin-bottom: auto;
}

