*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.containter-1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}


/*Header Styling */
.header-logo{
    color: #266DD3;
    font-size: 5rem;
    text-align: center;
    padding-top: 1rem;

}

.logo-text {
    font-family: 'Righteous', cursive;
}

.icon-size{
    font-size: 7rem;
}

.spin{

    animation: spin 4s infinite linear;
}

@keyframes spin {
    from{
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* Statement styling */

.statement-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.statement{
    width: 20%;
    color: rgba(255, 255, 255, 0.89);
    
}

.statement > h3{
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.statement > p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: x-large;
}


.skyline-img {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
    
}



/* Button Styles  */
.start-btn {
    position: absolute;
    bottom: 10%;
    left:47%;
    background-color: #266DD3 !important;
    font-family: 'Roboto', sans-serif;
    
}