*{
    margin: 0px;
    padding: 0px;

}
.footer-container{
    width:100%;
    height: 18rem;
    background: rgba(0, 0, 0, 0.863);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

.Section-Containers{
    margin-top: 10px;
    margin-left: 10px;
}

.Footer-Subtitles{
    padding-bottom: 20px;
    color: white;

}

.Name-Input{
    position: relative;
    display: inline;
    margin-right: 20px;
}

.Email-Input{
    position: relative;
    display: inline;
    margin-right: 20px;

}

.Name-Input span{
    position: absolute;
    top: 20%;
    right: 3%;
    color: rgba(255, 255, 255, .75);
}

.Email-Input span{
    position: absolute;
    top: 20%;
    right: 3%;
    color: rgba(255, 255, 255, .75);

}
.Footer-Subtitles + p{
    line-height: 2.5;
    color: rgba(255, 255, 255, .75);
}
.Message-Form input{
    
    background: rgba(56, 56, 56, 0.363);
    height: 30px;
    color:rgba(255, 255, 255, .75);
    border: 1px solid rgba(85, 85, 85, 0.5);
}

.Message-Form  textarea{
    display: block;
    background: rgba(56, 56, 56, 0.363);
    color:rgba(255, 255, 255, .75);
    border: 1px solid rgba(85, 85, 85, 0.5);
    margin-top: 20px;
    height:auto;
    
}
