*{
    margin: 0px;
    padding: 0px;
}
.Nav-Wrapper{
    position: fixed;
}
.NavbarItems{
    position: relative;
    background: rgba(0, 0, 0, 1);
    /*Width and height are set like this to simulate vertical navbar; might change this to see if we can just rotate the container*/
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem; 

}
.Items{
    position: absolute;
    top: 15%;
    right: 10%;
    list-style-type: none;
}


.nav-links{
    color:cornsilk;
    text-decoration: none;
    

}

.fa-file-alt{
    margin-left: 6px;
    transform: scaleX(1.3);
}

.Items li{
    margin-bottom: 40px;
    padding: 4px;
    padding-bottom: 0px;
    transform: translateY(0px);
    transition: transform 100ms linear 100ms;
    
}

.Items li:hover{
    transform: translateY(-8px);
}

.nav-links i{
    font-size: xx-large;
    color: rgb(38, 109, 211);
    padding: 0;
}

.nav-links p{
    font-size: 0.725em;
}