.NavbarItems{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    /*Width and height are set like this to simulate vertical navbar; might change this to see if we can just rotate the container*/
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 

}


.fa-file-alt{
    /*This how we move it to the right*/
    margin-left: 0.3rem;
}
.Icons{
    font-size: xx-large;
    color: rgb(38, 109, 211);
    padding: 0;
    
}
ul.Items{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    transform: translateY(-220px);
    justify-content: center;
    align-items: center;
    

}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    /*this is bringing it to the left for some reason*/
    margin: 0px;
    padding: 0px;
  }


.Links{
    
    color: white;
    font-size: small;
}


